body{
  background-image: url(https://i.imgur.com/xi3iZHt.jpg?2);
}
a{
  color: #747578;
  text-shadow: 1px 1px #72E0FF;
  
}
Link{
  color: #747578;
  text-shadow: 1px 1px #72E0FF;
}
h1{
  font-family: 'Bungee Shade', cursive;
  margin: auto;
  text-shadow: 1px 1px #72E0FF;
  color: #747578
}
h4{
  font-family: 'Bungee Shade', cursive;
  color: #747578;
  text-shadow: 1px 1px #72E0FF;
}

p{
  font-family: 'Roboto', sans-serif
}
textarea{
  background: transparent;
  border: 1px solid #747578;
  width: 300px;
  height: 150px;
}